.comando-page {
  background-color: #000051;
  min-height: 100vh;
  padding: 0px 15px;
  box-sizing: border-box;
  text-align: center;
}
.banner-principal {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 212, 255, 0.2);
  transition: transform 0.3s ease;
}

.banner-principal:hover {
  transform: scale(1.02);
}
.container input {
  width: 100%;
  max-width: 400px;
  padding: 14px 18px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  background-color: #1c1e4a;
  color: white;
  text-align: center;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.container input::placeholder {
  color: #ccc;
}

.container button {
  background-color: #ff4ec2;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 30px;
}

.container button:hover {
  background-color: #e6007e;
}

.resultado {
  background-color: #1f1f48;
  border-radius: 12px;
  padding: 25px;
  margin-top: 20px;
  box-shadow: 0 0 12px rgba(0, 212, 255, 0.2);
}

.resultado h3 {
  font-size: 24px;
  color: #00d4ff;
  margin-bottom: 16px;
  font-weight: 800;
}

.resultado p {
  font-size: 18px;
  margin: 10px 0;
  color: #f0f0f0;
}


/* Responsive */
@media (max-width: 768px) {
  .container {
    margin: 30px 16px;
    padding: 20px 16px;
  }
  .banner-principal {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: none;
  }

  .container h1 {
    font-size: 26px;
  }

  .container input {
    font-size: 16px;
  }

  .container button {
    font-size: 16px;
    padding: 10px 24px;
  }

  .resultado h3 {
    font-size: 20px;
  }

  .resultado p {
    font-size: 16px;
  }
}