.section-six {
  background: url('/fondo-ruleta1.png') center/cover no-repeat;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Sistema de columnas */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

[class*="col-"] {
  padding: 0 15px;
  box-sizing: border-box;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

/* Títulos */
.ruleta-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.2;
}

.ruleta-button-img {
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.ruleta-button-img:hover {
  transform: scale(1.05);
}

.ruleta-button-img.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.text-white {
  color: white;
  font-size: 62px;
  font-weight: 900;
  font-family:'Montserrat-ExtraBoldr';
}

.text-cyan {
  color: #00ffff;
  font-size: 50px;
  font-weight: 900;
  margin-top: -10px;
  font-family:'Montserrat-ExtraBoldr';
}

.ruleta-subtext {
  font-size: 22px;
  font-weight: 400;
  color: white;
  margin-top: 10px;
}

.ruleta-subtext span {
  background-color: #00ffff;
  color: #000;
  border-radius: 6px;
  font-weight: bold;
  padding: 0 6px;
}

/* Contenedor de ruleta e input */
.ruleta-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

/* Columnas internas */
.ruleta-col {
  flex: 1 1 320px;
  max-width: 500px;
  width: 100%;
}

/* Caja input */
.ruleta-input-box {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 25px 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(6px);
}

/* Caja ruleta */
.ruleta-wheel-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Input */
.ruleta-input {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

.ruleta-input::placeholder {
  color: #ccc;
}


.ruleta-button:hover {
  background: linear-gradient(to right, #00bcd4, #005bb5);
}

/* 📱 Responsive CELULARES */
@media (max-width: 768px) {
  .ruleta-container {
    flex-direction: column;
    align-items: center;
  }

  .ruleta-col {
    max-width: 100%;
  }

  .ruleta-title {
    font-size: 28px;
  }

  .text-white {
    font-size: 32px;
  }

  .text-cyan {
    font-size: 26px;
  }

  .ruleta-subtext {
    font-size: 16px;
    text-align: center;
    padding: 0 12px;
  }

  .ruleta-input {
    font-size: 18px;
  }
}
.ruleta-bono-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}