.contact-message {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;   /* ↓ puedes bajarlo incluso a 10px si lo quieres más pegado */
  margin-bottom: 8px; /* ↓ este es el espacio entre el texto y el botón */
}

.contact-button {
  background-color: #00d4ff;
  color: #000;
  font-weight: bold;
  font-size: 32px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: inline-block;
  padding: 12px 24px;
  margin-top: 0; 

}
.contact-button:hover {
  background-color: #00aacc;
}
/* TABLET */
@media (max-width: 1024px) {
  .contact-message {
    font-size: 28px;
  }

  .contact-button {
    font-size: 24px;
    padding: 10px 20px;
  }
}

/* CELULAR */
@media (max-width: 767px) {
  .contact-message {
    font-size: 22px;
  }

  .contact-button {
    font-size: 20px;
    padding: 8px 18px;
  }
}

/* MONITOR GRANDE */
@media (min-width: 1440px) {
  .contact-message {
    font-size: 48px;
  }

  .contact-button {
    font-size: 36px;
    padding: 12px 28px;
  }
}