.social-section {
  background-color: #000051;
  padding: 0px 20px;
  color: white;
}

.social-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.social-icon {
  width: 100px;
  height: 100px;
  display: block;
}

@media (max-width: 768px) {
  .social-icons {
    gap: 20px;
  }
  .social-icon {
    width: 70px;
    height: 70px;
  }
}